html {
  height: 100%;
  background-image: url(background.jpg);
  background-repeat:no-repeat;

}

body {
  margin: 0;
  padding: 0;

  /* Задаём фон для тела */
}

/*У ВСЕГО ПОЗИЦИЯ АБСОЛЮТНАЯ НА СЛУЧАЙ ЕСЛИ НУЖНО ПОЛУЧИТЬ МЕСТОПОЛОЖЕНИЕ С ПОМОЩЬЮ OFFSET (см в script)*/

#photosensor {
  /* Фотодатчик */
  position: absolute;
  width: 150px;
  height: 45px;
  left: 577px;
  top: 669px;
  border-radius: 5px;
  background-image: url(photosensor.png);
  opacity:60%;
}
#dot{
  width: 2px;
  height:2px;
  position:absolute;
  left:599px;
  top:106px;
  background-color: black;
}
#img {
  /* Фон для квадрата (где происходит лаба) */
  position: absolute;
  left: 360px;
  width: 1200px;
  height: 900px;
  background: rgba(255, 255, 255, 0.206);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#wheel {
  /* Шестеренка */
  position: absolute;
  background-image: url(circle.png);
  top:4px;
  background-size:cover;
  width: 210px;
  height: 210px;
  left: 495px;
}
#wheel_ruler{
  position: absolute;
  width: 122px;
  height: 30px;
  background-image: url(ruler_horizontal.png);
  background-size: cover;
  top: 107px;
  border-radius: 5%;
  left: 583px;


}


#thread_top {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50% 50% 1% 1%;
  border-top: 5px solid #292c2c;
  border-left: 5px solid #292c2c;
  border-right: 5px solid #292c2c;
  left: 490px;
}
#thread_left {
  position: absolute;
  width: 5px;
  height: 600px;
  left: 490px;
  top: 200px;
  background-color: #292c2c;
}

#thread_right {
  position: absolute;
  width: 5px;
  height: 60px;
  left: 705px;
  top: 200px;
  background-color: #292c2c;
}

#stand {
  /* Стойка (вертикальная) */
  position: absolute;
  width: 45px;
  height: 720px;
  top: 143px;
  left: 577px;
  background-image: url(vertical_stand.png);
}

#base {
  /* Стойка (горизонтальная) */
  position: absolute;
  width: 600px;
  height: 45px;
  bottom: 0;
  left: 300px;
  border-radius: 10px;
  background-image: url(horizontal_stand.png);
}

.cargo {
  position: absolute;
  width: 60px;
  height: 68px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}
#cargo_blue {
  /* Правый грузик */
  background: url(cargo.png);
  left: 677px;
  top: 243px;
  
}
#cargo_red {
  /* Левый грузик */
  background: url(cargo.png);
  left: 462px;
  top: 787px;
}

.weight {
  
  position: absolute;
  width: 60px;
  height: 20px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

#weight_1 {
  background: url(delta_m1.png);
  visibility: hidden;
}
#weight_2 {
  background: url(delta_m2.png);

  visibility: hidden;
}
#weight_3 {
  background: url(delta_m3.png);

  visibility: hidden;
}
#weight_4 {
  background: url(delta_m4.png);

  visibility: hidden;
}

#ruler {
  /* Линейка */
  
  position: absolute;
  width: 30px;
  height: 645px;
  background-image: url(ruler_50cm.png);
  background-size: cover;
  top: 210px;
  left: 577px;
}

#sensor-line {
  /*Линия фотодатчика (на которой останавливается отчет)*/
  position: absolute;
  width: 150px;
  height: 2px;
  left: 577px;
  top: 691px;
  background: rgb(0, 255, 191);
  border-radius: 5px;
}

#thread-right {
  position: absolute;
  height: 50px;
  width: 3px;
  left: 706px;
  top: 100px;
  background-color: rgb(255, 0, 238);
}

.button {
  /* Кнопка START */
  position: absolute;
  background-color: #ff0000; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 9px 20px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}
.button:hover:not(:disabled) {
  /* При наведении на кнопку */
  background-color: #000000;
  color: black;
  filter: brightness(70%);
}
.button:disabled {
  opacity: 0.7;
}

#button_start {
  border: 1px solid rgb(0, 0, 0);
  margin-left: 5px;
  background-color: rgb(243, 255, 12,0.7);
  background-size: cover;
  top: 850px;
  font-family: sans-serif;
}

#button_reset {

  margin-left: 5px;
  background-color: rgb(64, 204, 8, 0.7);;
  border: 1px solid rgb(0, 0, 0);
  top: 800px;
  font-family: sans-serif;
}
#dummy_button {
  background-color: #444c4c;
  top: 805px;
  visibility: visible;
}

#button_weight_1 {
  border: 1px solid rgb(0, 0, 0);
  background-color: lavender;
  top: 850px;
  left: 1075px;
  font-family: sans-serif;
}

#button_weight_2 {

  border: 1px solid rgb(0, 0, 0);
  background-color: lavender;
  top: 800px;
  left: 1075px;
  font-family: sans-serif;
}

#button_weight_3 {

  border: 1px solid rgb(0, 0, 0);
  background-color: lavender;
  top: 750px;
  left: 1075px;
  font-family: sans-serif;
}
#button_weight_4 {

  border: 1px solid rgb(0, 0, 0);
  background-color: lavender;
  top: 700px;
  left: 1075px;
  font-family: sans-serif;
}

.stopwatch {
  /* Секундомер */
  
  font-family: sans-serif;
  width: 190px;
  position: absolute;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  background-color:rgba(255, 255, 255, 0.65);
  border: 1px solid #eee;
  padding: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 40px;
  
}

.stopwatch span {
  
  font-weight: bold;
  display: block;
  font-family: sans-serif;
}

.stopwatch a {
  font-family: sans-serif;
}



#my-stopwatch{
  position:absolute
}

#wheel-stopwatch{
  position:absolute
}


#info_stand{
  border: 1px solid #eee;
  position:absolute;
  height:200px;
  width: 300px;
  left:850px;
  top:45px;
  background-image: url(bg_info.png);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 80%;
  vertical-align: center;
  text-align: center;
  font-family: sans-serif;
  line-height:165%;
  font-size:x-large;
  border-radius: 4px;

}


#draggable_ruler{
  
  cursor:move;
  position: absolute;
  width: 275px;
  height: 30px;
  border: 1px solid black;
  background-image: url(horizontal_ruler_15cm.png);
  background-size: cover;
  top: 764px;
  border-radius: 0%;
  left: 365px;
}
.instruction{
  position:absolute;
  font-size: 65px;
  font-family:"Open Sans Condensed";
  left:5px;
  top:700px;
  text-decoration: none;
  color: lavender;
  
  text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  
  
}
.instruction:hover{
  color:rgb(0, 153, 255);
  transition: all 500ms ease;
  text-shadow: none;
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content{
  transform: translate(0px,0px);
  opacity: 1;
}

.popup_body{
  min-height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content{
  background-color: rgb(230, 230, 250,0.95);
  border: 3px solid rgb(0, 0, 0);
  color: black;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px,-100%) rotateX(45deg);
}
.popup_close{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 35px;
  color: black ;
  font-family: sans-serif;
  text-decoration: none;
  overflow-y:auto ;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  
}
.popup_close:hover {
  color: rgb(251, 4, 4) ;
}
.popup_text{
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  
}
.popup_title{
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.etu_logo{
  position: absolute;
  left:10px;
  top:10px;
  height:80px;
  width:80px;
  border-radius: 50%;
  background-image: url(logo-sin-krug.png);
  background-size: cover;
}